@media print {
  html.is-clipped {
    overflow: visible !important;

    main,
    .navbar,
    .modal-card-head,
    footer {
      display: none;
    }

    .modal {
      position: static;
      display: block;
      overflow: auto;
    }

    .modal-card {
      display: block;
      max-height: none;
      margin: 0;
      overflow: auto;
    }

    a {
      color: #000;
      text-decoration: underline;
    }
  }
}
