// Dependency imports
$family-sans-serif: 'Barlow', system-ui, sans-serif;
$body-size: 18px;
$modal-content-width: 900px;
@import '@cityssm/bulma-a11y/bulma-a11y';
@import '@cityssm/simple-fa5-checkbox/facheck-bulma';
@import '@creativebulma/bulma-tooltip/src/sass/index';

.has-min-page-height {
  min-height: 100vh;

  @media print {
    min-height: inherit;
  }
}

.modal,
.modal-card,
.modal-content {
  max-width: 100vw;
}

.modal-card-title {
  max-width: calc(100vw - 80px);
  overflow: hidden;
  font-family: 'Barlow Condensed', $family-sans-serif;
}

.modal form fieldset:disabled {
  button {
    display: none;
  }
}

#is-login-page {
  min-height: 100vh;
  background-image: url('../images/login.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-burger span {
  height: 2px;
}

#container--results .panel {
  background-color: $white;

  .panel-block {
    transition: opacity 100ms;
  }

  &:hover .panel-block {
    opacity: 0.3;
  }

  .panel-block:hover {
    opacity: 1;
  }
}

.input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

.is-edit-control-flex {
  display: none;
}

.is-edit-mode .is-edit-control-flex {
  display: flex;
}

/*
 * Floating bottom button
 */

.button.is-circle {
  width: 2.2em;
  height: 2.2em;
  font-size: 2em;
  border-radius: 50%;
}

@media screen {
  .fixed-container {
    position: fixed;
    z-index: 30;
    display: inline-block;

    &.is-fixed-bottom-right {
      right: 0;
      bottom: 0;
    }
  }

  .is-hidden-screen {
    display: none !important;
  }
}


@media print {
  .is-hidden-print {
    display: none !important;
  }
}
